.header{
    width: 100%;
    height: 70px;
    background-color: lightskyblue;
    /* position: fixed; */
}
.cursor-ptr{
    cursor: pointer;
}
.active{
    color: green;
}
.plane-color{
    color: maroon;
}
.logout-icon{
    font-size: 18px;
    cursor: pointer;
}

